.App {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: center;
  padding: 50px 0 50px 0;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  color: #00adfe;
  font-size: 20px;
  font-weight: 900;
}
.input-box {
  min-height: 200px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  border: solid 1px rgb(175, 175, 175);
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 16px 0 0 16px;
}

.submitButton {
  height: 35px;
  width: 20%;
  background-color: #00adfe;
  border: solid 1px #00adfe;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.solution-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0 50px 0;
  border-top: solid 2px rgb(216, 216, 216);
  border-bottom: solid 2px rgb(216, 216, 216);
}
.analyze-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 15px;
}

.analyze-text {
  color: #00adfe;
  font-size: 15px;
  font-weight: 900;
}

.frequency {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
	